<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <h2>Adesh Pingle</h2>
            <p class="tag">Assistant System Engineer at TCS</p>
            <img class="portrait" src="img/me.png">
            <p class="about-info">Aren't we all lost stars, trying to light up the dark? <br />
            Coding. Football. Games. In that order.<br />
            You can connect with me at adeshpingle42@gmail.com <br /></p>
        </div>
        {{>footer}}
    </body>
</html>