<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p class="about-info2">This website was created by Adesh Pingle.<br /> It uses data from mapbox.com and Weatherstack API.</p>
            <img class="portrait" src="img/me.PNG">
            <p class="about-info">
            Coding. Football. Games. In that order.<br />
            You can connect with me at adeshpingle42@gmail.com <br /></p>
        </div>
        {{>footer}}
    </body>
</html>